body{
    display: flex;
}
.container{
    display: flex;
    margin: 0 auto;
    width: 480px;
}

.cells{
    width: calc(480px/16);
    height: calc(480px/16);
    border: 1px solid #000;
}

.cells:hover {
    background-color: aqua;
}
.cells.clicked {
    background-color: aqua;
}
.btn{
    height: 50px;
    width: 100px;
    align-self: center;
}